[Unit]
Description=Pump Control Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 TCCC_pump.py
Restart=always
User=pi

[Install]
WantedBy=multi-user.target