[Unit]
Description=Pump Control Service
After=multi-user.target

[Service]
ExecStart=/usr/bin/python3 TCCC_pump.py  # Adjust the Python version and script path
Restart=always
User=pi  # Adjust the user if necessary

[Install]
WantedBy=multi-user.target